<div class="container-fluid">    
    <table class="table table-striped table-responsive">
      <thead>
        <tr>
          <th>
            Id
          </th>
          <th>
            Amount
          </th>
          <th>
            SenderUsername
          </th>
          <th>
            RecipientUsername
          </th>
          <th>
            Date
          </th>
          <th>
        </th>
        </tr>
      </thead>
      <tbody *ngFor="let trans of this.simpleArray4userData ">
        <tr>
          <td>
            <div [hidden]="!trans"> {{trans?.Id}} </div>
          </td>
          <td>
            <div [hidden]="!trans"> {{trans?.amount}} </div>
          </td>
          <td>
            <div [hidden]="!trans"> {{trans?.SenderUsername}} </div>
          </td>
          <td>
            <div [hidden]="!trans"> {{trans?.RecipientUsername}} </div>
          </td>
          <td>
            <div [hidden]="!trans"> {{trans?.Date | date:'medium' }} </div>
          </td> 
          <td>
            <div *ngIf="trans.amount < 0"> <button (click)="SendTransactionId(trans.Id)" class="btn btn-primary">Copy this transaction</button> </div>
            </td>
        </tr>
      </tbody>
    </table>
    </div>


