<div class="container-fluid">
  <div class="col-sm-6 col-sm-offset-3">
    <form [formGroup]="complexForm" (ngSubmit)="click$.next(complexForm.value)">
      <input formControlName="recipient" [typeahead]="users" (typeaheadOnSelect)="typeaheadOnSelect($event)" [typeaheadOptionsLimit]="7"
        [typeaheadOptionField]="'name'" [typeaheadMinLength]="0" placeholder="Typeahead inside a form" class="form-control">
        <div *ngIf="complexForm.controls['recipient'].hasError('email') && complexForm.controls['recipient'].touched" class="alert alert-danger">please write valid email</div>
        <input class="form-control" placeholder="Amount" type="text" [formControl]="complexForm.controls['Amount']">
        <div *ngIf="complexForm.controls['Amount'].hasError('number') && complexForm.controls['Amount'].touched" class="alert alert-danger">please write number</div>
        <div *ngIf="(complexForm.controls['Amount'].hasError('min') || complexForm.controls['Amount'].hasError('max'))  && complexForm.controls['Amount'].touched" class="alert alert-danger">Please make sure the transaction Amount does not exceed your personal Amount limit and transaction not lower than 1</div>
        <button class="btn btn-primary center-block" [disabled]="!this.SubmitButton.isActive || !complexForm.valid" type="submit">{{this.SubmitButton.innerText}}</button>
    </form>
  </div>
</div>





<p-growl [value]="primengMsgs"></p-growl>

<button (click)="Test()">Test</button>